name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
      - constantine/deployment
    paths:
      - 'server/**'

jobs:
  deploy:
    name: Deploy to Cloud Run
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: trailpgh-dev
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          install_components: 'gke-gcloud-auth-plugin'

      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Build and Deploy to Cloud Run
        run: |
          gcloud run deploy trail-pittsburgh-backend \
            --source . \
            --project trailpgh-dev \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated 